.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #293241;
  transition: width 0.3s;
  border-radius: 0px 20px 20px 0px;
}

.sidebar-collapsed {
  width: 100px;
}


.sidebar-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--blue-main-color);
}

.btn-toggle {
  background: none;
  border: none;
  color:  var(--white-color);
}


.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color:  var(--white-color);
  text-decoration: none;
  cursor: pointer;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.nav-link.mat-icon {
  margin-right: 0.5rem;
}

.content {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-overlay {
  opacity: 0.5;
}

.navbar {
  flex: 0 0 auto;
  background-color:  var(--blue-main-color);
}


.logout > button {
  color:  var(--white-color);
}
.nav-item {
  margin-right: 20px;
}

.nav-main-item {
  border-bottom: 2px solid #252e3c;
}

.nav-sub-items {
  padding: 7px;
  background-color: #252e3c;
  border-radius: 7px;
}

.nav-sub-item {
  width: 100%;
}

.nav-sub-item:hover {
  background-color: #212936;
  transition: 0.3s;
  border-radius: 7px;
}


.flex-grow-1 {
  flex-grow: 1;
  padding: 10px;
}

.main-footer {
  background-color:  var(--white-color);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

span {
  margin-left: 10px;
}
